
.results-container {
  display: flex;
  overflow-x:visible;
  overflow-y: hidden;
  margin: 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.results-container::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
 


.results-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.results-container::-webkit-scrollbar-thumb {
  
  background: rgb(125, 245, 125);
}

.result-card {
  flex: 0 0 auto;
  width: 300px;
  margin-right: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.results{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  
  
}
.pr{
  border: 0.1px solid #ccc;
  padding: 1px;
  margin: 5px;
}

.result-image {
  width: 80%;
  height: 150px;
  object-fit: cover;
  border-bottom: 1px solid #ccc;
}

.result-details {
  padding: 1px;
  width: 100%;
}

.review-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: auto;
}

.review-button:hover {
  background-color: #0056b3;
}
