
.landing {
  position: relative;
  max-width: 100%;
  margin: 0 ;
}

.carousel-item {
  position: relative;
}

.carousel-item img {
  width: 100%;
  height: fit-content;
}
.carousel .control-dots .dot {
  width: 27%;
  height: 4px;
  border-radius: 0;
  margin: 0 5px;
  bottom: 0;
}


.carousel .control-dots .dot.selected {
  background-color: green;
}

.caption {
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding: 20px;
  background-color: rgba(9, 255, 0, 0.7);
}
.caption button{
  cursor: pointer;
 font-size: 20px; 
 letter-spacing: 0.1em;
  color: #000;
}




